<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>this is index page</h1>
<a th:href="@{/user/1}">Get新增User</a><hr>
<form th:action="@{/user/1}" method="post">
    <input type="text" name="user">
    <input type="submit" value="新增post请求">
</form><hr>
<form th:action="@{/user/1}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="修改put请求">
</form><hr>
<form th:action="@{/user/1}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="删除delete请求">
</form><hr>
</body>
</html>